html(ng-app="app")
  head
    title= title
    link(rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js")
    script(src="/javascripts/app.js")

    body
    //body(ng-app="findelegator" ng-controller="mainViewController")
    block content
